<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169055488132-b5a5mmkpe39srqn6i007b80m32buseh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169055488132-b5a5mmkpe39srqn6i007b80m32buseh4</string>
	<key>API_KEY</key>
	<string>AIzaSyC-eiNPnVmflLTl14jVYdyTacbK6M0F0Yc</string>
	<key>GCM_SENDER_ID</key>
	<string>169055488132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linkedin</string>
	<key>PROJECT_ID</key>
	<string>auth-7f386</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-7f386.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169055488132:ios:d744eb16b106bb6eec5ad1</string>
</dict>
</plist>